<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title translate>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />  
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />  
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" ng-controller="TopMenu as topmenu" >
        <div class="container">
            <div class="navbar-header">
                <a class="pull-left logo" href="#/">
                    <img src="~/Content/food.png" width="45" height="45" alt="{{'FoodApp'|translate}}" />
                </a>
                <a class="navbar-brand" href="#/" translate>FoodApp</a>
            </div>
            <ul class="nav navbar-nav" translate-namespace="topmenu">
                <li ng-repeat="item in topmenu.menu" ng-class="{ active: topmenu.isActive(item.url)}">
                    <a href="#{{item.url}}" translate=".{{item.name}}"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ng-cloak" ng-if="topmenu.isAuth()">
                <li ng-class="{ active: topmenu.isActive('/user')}" >
                    <a href="#/profile" ng-bind="topmenu.auth.username">User</a>
                </li>
                <li><a href="" ng-click="topmenu.logout()" translate>Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ng-cloak" ng-if="!topmenu.isAuth()">
                <li><a href="" ng-click="topmenu.showLogin()" translate>Login</a></li>
                <li><a href="" ng-click="topmenu.showRegister()" translate>Registration</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" ng-view></div>


    <!-- Modal -->
    <login-form></login-form>    
    
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="offlineMessage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="text-danger">Service is offline, try again leter ...</h3>
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container" body-content>
        @RenderBody()
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angular-translate")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
</body>
</html>
